
<div class="container-fluid">
    <div class="row">

        <!-- Side nav -->
        <div class="col-3 side-nav">
            <div class="row">
                
                <div class="col-12 header">
                    <h3 class="centered-content"> My articles </h3>
                </div>

                <div class="col-lg-6 col-sm-12 header centered-content">
                    Page {{ currentPage+1 }} / {{ articlePage.totalPages }}
                </div>

                <div class="col-lg-3 col-sm-6 header">
                    <button type="button" class="btn btn-dark full-width" [disabled]="currentPage == 0"
                        (click)="previousPageClicked()">
                        &lt;
                    </button>
                </div>
                <div class="col-lg-3 col-sm-6 header">
                    <button type="button" class="btn btn-dark full-width" (click)="nextPageClicked()"
                        [disabled]="articlePage.totalPages - currentPage == 1">
                        &gt;
                    </button>
                </div>
        
                <div class="form-group col-lg-10 col-sm-12">
                    <input type="text" placeholder="Search" class="form-control" (keyup)="performSearch()"
                        [(ngModel)]="searchValue">
                </div>
                <div class="col-lg-2 col-sm-12" *ngIf="!requestFinished">
                    <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>
                

                <div class="col-12" *ngIf="requestFinished && articlePage.articles.length == 0">
                    <h3 class="centered-content"> No articles have been found </h3>
                </div> 

                <div class="col-12" *ngFor="let article of articlePage.articles; index as i">
                    <div [ngClass]="(clickedArticleId == article.id) ? 'card text-white bg-secondary mb-3 shadow-on' : 'card text-white bg-dark mb-3'">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ article.name }}
                                <span class="remove-icon" (click)="removeArticle(article, i)">
                                     &times; 
                                </span>
                            </h5>
                            <p class="card-text"> Price: &nbsp; {{ article.price }} rsd</p>
                            <button type="button" class="btn btn-primary" (click)="configurePaymentFlow(article)">
                                Edit splits
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content-->
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
