.header {
    padding: 1ex;
}

.spinner {
    padding: 2ex;
    margin-top: 2ex;
}

.full-width {
    width: 100%;
}

.card {
    max-width: 15rem;
}

.remove-icon {
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.remove-icon:hover {
    opacity: 0.5;
    cursor: pointer;
    font-weight: 1000;
}

.card:hover {
    -webkit-box-shadow: 0px -1px 42px 9px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px -1px 42px 9px rgba(0,0,0,0.69);
    box-shadow: 0px -1px 42px 9px rgba(0,0,0,0.69);
    cursor: pointer;
}

.side-nav {
    background-image: url(../../../assets/images/paper_1.png);
    background-repeat:repeat;
    min-height: 90vh;
}

.centered-content {
    text-align: center;
}
