
<div class="row">
    <div class="col-12 article-holder">
        <h3 class="heading"> Split payment flow </h3>

        <p> Currently configuring for the following article: </p>

        <label class="identifier"> Article name: </label>
        <label class="text-value"> {{ article.name }} </label>
        <br/>

        <label class="identifier"> Article price: </label>
        <label class="text-value"> {{ article.price }} rsd</label>
    </div>

    <div class="col-md-6">
        <h4 class="option-header">New account</h4>
        <p class="hint-text">Fill out the information below the create a new account: </p>
        <app-manage-account [articlePrice]="article.price" (paySplitEvent)="addNewSplit($event)"></app-manage-account>
    </div>


    <div class="col-md-6" *ngIf="pieChartLabels.length > 0 && pieChartData.length > 0">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="chartOptions"
                [colors]="labelColors"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>

  