
.heading {
    text-align: center;
    padding: 2ex;
    margin: 1ex;
}

.detail-holder {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
    font-size: 18px;
}

.identifier {
    border-bottom: 1px solid black;
    
}

.text-value {
    padding: 1ex;
    margin-left: 2ex;
    font-weight: bold;
}

.selector {
    border-radius: 0px !important;
}

.selector:hover {
    background-color: lightgray;
    color: black;
}

.selected {
    background-color: lightgray;
    color: black;
    border: 1px solid black;
}

.selector:focus {
    box-shadow: none !important;
}

.selector-holder {
    position: relative;
    width: 60%;
    top: 4ex;
    left: 20%;
    margin-bottom: 2ex;
}

.btn-holder {
    display: inline-block;
}

.form-holder {
    position: relative;
    width: 60%;
    height: 50%;
    top: 10%;
    left: 20%;
    margin-top: 10ex;
}

.hint-text {
    padding: 1ex;
    font-size: 17px;
}

.chart-holder {
    margin-top: 5ex;
}

.option-header {
    padding: 1ex;
}

