
.heading {
    text-align: center;
    padding: 2ex;
    margin: 1ex;
}

.article-holder {
    text-align: center;
    font-size: 18px;
}

.identifier {
    border-bottom: 1px solid black;
}

.text-value {
    padding: 1ex;
    margin-left: 2ex;
    font-weight: bold;
}


.hint-text {
    padding: 1ex;
    font-size: 17px;
}

.chart-holder {
    min-height: 500px;
}


