.new-account-form {
    padding: 2ex;
}

.radio-holder {
    padding: 3ex;
}

.mat-slider {
    width: 100%;
    border-radius: 20px;
    background-color: lightcyan;
    color: white;
}

.disabled-slider {
    opacity: 0;
}

.highlighted-text {
    font-size: 17px;
    padding: 1ex;
}

.error-message {
    font-size: 14px;
    color: red;
}

.full-width {
    width: 100%;
}


