<form class="new-account-form" #accountForm="ngForm" (ngSubmit)="createAccount()">
    <div class="form-group">
        <label>Account number: </label>
        <input type="text" class="form-control" name="accNum" id="accNum" placeholder="Enter account number..."
            [(ngModel)]="account.number" required #accNum="ngModel">
            <small [hidden]="accNum.valid || accNum.pristine" class="error-message">
                Account number is required
            </small>
    </div>
    <div class="form-group">
        <label>Account name: </label>
        <input type="text" class="form-control" name="accName" id="accName" placeholder="Enter account name..."
            [(ngModel)]="account.name" required #accName="ngModel">
            <small [hidden]="accName.valid || accName.pristine" class="error-message">
                Account name is required
            </small>
    </div>

    <label>How would you like to specify the amount of funds to transfer?</label>
    <br/>

    <div class="custom-control custom-radio custom-control-inline radio-holder">
        <input type="radio" id="fixedSplit" name="splitType" class="custom-control-input" (change)="fixedSplitChange($event)">
        <label class="custom-control-label" for="fixedSplit">Fixed amount (rsd)</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="percentageSplit" name="splitType" class="custom-control-input" (change)="percentualSplitChange($event)">
        <label class="custom-control-label" for="percentageSplit">Percentual amount (%)</label>
    </div>

    <div class="form-group" [ngClass]="{'disabled-slider': splitType != 'fixed'}">
        <mat-slider min="1" [max]="articlePrice" step="1" value="1" thumbLabel (input)="onFixedValueChange($event)"
            [disabled]="splitType != 'fixed'">
        </mat-slider>
    </div>
    <div class="form-group" [ngClass]="{'disabled-slider': splitType != 'percentual'}">
        <mat-slider min="1" max="100" step="1" value="1" thumbLabel (input)="onPercentualValueChange($event)"
            [disabled]="splitType != 'percentual'">
        </mat-slider>
    </div>

    <label class="highlighted-text">Amount to transfer: &nbsp; {{ account.investment }} rsd </label>

    <br/>
    <button type="submit" class="btn btn-dark" [disabled]="!accountForm.form.valid">
        Add account
    </button>
</form>


